/* AppComponent's private CSS styles */
*{
  background-color:#e2e2e2e8;
}

h1 {
  margin-bottom: 0;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: #e8e8e8;
  color: #000000;
  border-radius:0.5em;
  text-align: center;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

nav a:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(121, 121, 121, 0.212);
}
nav a.active {
  background-color: black;
}
