/* HeroDetailComponent's private CSS styles */
div
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family:Tahoma, Geneva, Verdana, sans-serif;


}

label {
    color: #000000;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  input {
    font-size: 1em;
    padding: .5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  button {
    display: block;
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;

  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }